
:host {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 25px 40px;
  border-radius: 8px;
  box-shadow: 0 0 14px #ECEEF9;
  background-color: #FCFDFE;
  cursor: pointer;

  @media (max-width: 768px) {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
}

.avatar {
  flex: 0 0 auto;
  width: 120px;
  height: 120px;
  border: 1px solid #C0C0C2;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;

  img {
    width: 100%;
    height: auto;
  }
}

.info {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;

  @media (max-width: 768px) {
    align-items: center;
    margin-top: 20px;
  }
}

.name {
  width: 100%;
  flex: 0 0 auto;
  font-size: 28px;
  line-height: 28px;
  color: #22246F;
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
  margin: 0;

  @media (max-width: 768px) {
    width: auto;
  }
}

.fields {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;

  @media (max-width: 768px) {
    flex-flow: column nowrap;
  }
}

.field {
  min-width: 50%;
  flex: 1 0 auto;
  padding: 10px 10px 10px 0;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
}

.field-label {
  color: #22246F;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  width: 150px;
  flex: 0 0 auto;
}

.field-content {
  flex: 1 1 auto;
  color: #7576A5;
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
}
