<em-layout *ngIf="employee$ | async as employee">
  <ng-container slot="header">
    <div class="header-menu">
      <a class="back" [routerLink]="['/']">В список</a>
      <a class="action action--main" [routerLink]="['/employee', employee.id, 'edit']">Редактировать</a>
      <a class="action" href (click)="onDeleteClick($event, employee)">Удалить</a>
    </div>
  </ng-container>
  <ng-container slot="content">
    <em-employee-card [item]="employee$ | async"></em-employee-card>
  </ng-container>
</em-layout>
