
:host {
  display: block;
}

.header-menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: #FCFDFE;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 14px #ECEEF9;
  position: relative;

  @media (max-width: 768px) {
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
  }
}

.action {
  display: inline-block;
  font-weight: 200;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 0;
  padding: 14px 26px;
  font-family: 'Comfortaa', cursive;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
  color: #A6A6A6;

  &--main {
    border-radius: 5px;
    background-color: #8E8FEB;
    background-image: linear-gradient(90deg, #7172E5 0%, #8E8FEB 100%);
    color: #ffffff;
    box-shadow: 0px 2px 10px 0px #C9CDFF;
  }
}

.action + .action {
  margin-left: 20px;

  @media (max-width: 768px) {
    margin-left: 0;
    margin-top: 20px;
  }
}

.back {
  position: absolute;
  bottom: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  font-weight: 200;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
  color: #8E8FEB;
}
