
:host {
  display: block;
}

.back-wrap {
  position: relative;
}

.back {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  font-weight: 200;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
  color: #8E8FEB;
}
