<em-layout>
  <ng-container slot="header">
    <div class="back-wrap">
      <a class="back" [routerLink]="['/']">Вернуться</a>
    </div>
  </ng-container>
  <ng-container slot="content">
    <em-employee-form #employeeForm (onChange)="onSubmit($event)"></em-employee-form>
  </ng-container>
</em-layout>
