<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form">
    <div *ngIf="item" class="avatar">
      <div class="avatar-image">
        <img [src]="getAvatar()">
      </div>

      <div class="avatar-actions">
        <input style="display: none;" #fileInput type="file" name="name" (change)="onAvatarSubmit($event)">
        <button class="action action--mini action--main" type="button" [disabled]="isUploading" (click)="$event.preventDefault(); fileInput.click()">Заменить</button>
        <button class="action action--mini" type="button" [disabled]="isNoAvatar() || isUploading" (click)="$event.preventDefault(); onAvatarRemove()">Удалить</button>
      </div>
    </div>

    <div class="field">
      <label>
        Имя:
        <input type="text" name="name" formControlName="name">
      </label>
    </div>

    <div class="field">
      <label>
        Фамилия:
        <input type="text" name="lastName" formControlName="lastName">
      </label>
    </div>

    <div class="field">
      <label>
        Должность:
        <input type="text" name="position" formControlName="position">
      </label>
    </div>

    <div class="field">
      <label>
        Телефон:
        <input type="text" name="phone" formControlName="phone">
      </label>
    </div>

    <div class="field">
      <label>
        Почта:
        <input type="text" name="email" formControlName="email">
      </label>
    </div>

    <div class="field">
      <label>
        День рождения:
        <input type="date" name="birthday" formControlName="birthday">
      </label>
    </div>
  </div>
  <div class="actions">
    <button class="action action--main" type="submit" [disabled]="form.invalid">Сохранить</button>
    <button class="action" type="button" [disabled]="form.pristine" (click)="onCancel()">Отменить</button>
  </div>
</form>
