
:host {
  display: block;
}

.avatar {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.avatar-image {
  width: 160px;
  height: 160px;
  border: 1px solid #C0C0C2;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    height: auto;
  }
}

.avatar-actions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;

  @media (max-width: 768px) {
    flex-flow: column nowrap;
    align-items: stretch;
  }
}

.form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 40px 50px;
  border-radius: 8px;
  box-shadow: 0 0 14px #ECEEF9;
  background-color: #FCFDFE;
  margin-bottom: 40px;
}

.field {
  display: block;
  width: 100%;

  label {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    color: #22246F;
    font-size: 22px;
    line-height: 42px;
    font-weight: 400;

    @media (max-width: 768px) {
      font-size: 18px;
      line-height: 24px;
    }
  }

  input {
    font-weight: 300;
    border: 0;
    padding: 14px 26px;
    font-family: 'Roboto', cursive;
    font-size: 20px;
    line-height: 30px;
    color: #6e6e6e;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 #C9CDFF;

    &:focus {
      outline: none;
      box-shadow: 0 2px 10px 0 #C9CDFF;
    }

    &.ng-dirty {
      &.ng-valid {
        box-shadow: 0 1px 3px 0 #2AC598;

        &:focus {
          box-shadow: 0 2px 10px 0 #2AC598;
        }
      }

      &.ng-invalid {
        box-shadow: 0 1px 3px 0 #FD7676;

        &:focus {
          box-shadow: 0 2px 10px 0 #FD7676;
        }
      }
    }
  }
}

.field + .field {
  margin-top: 35px;
}

.actions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: #FCFDFE;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 14px #ECEEF9;
  margin-bottom: 40px;

  @media (max-width: 768px) {
    flex-flow: column nowrap;
    align-items: stretch;
  }
}

.action {
  display: inline-block;
  font-weight: 200;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 0;
  padding: 14px 26px;
  font-family: 'Comfortaa', cursive;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
  color: #A6A6A6;
  cursor: pointer;

  &[disabled] {
    filter: grayscale(60%);
    cursor: default;
  }

  @media (max-width: 768px) {
    width: 100%;
  }

  &--mini {
    padding: 10px 20px;
    font-size: 14px;
    line-height: 20px;
  }

  &--main {
    border-radius: 5px;
    background-color: #8E8FEB;
    background-image: linear-gradient(90deg, #7172E5 0%, #8E8FEB 100%);
    color: #ffffff;
    box-shadow: 0px 2px 10px 0px #C9CDFF;
  }
}

.action + .action {
  margin-left: 20px;

  @media (max-width: 768px) {
    margin-left: 0;
    margin-top: 20px;
  }
}
