<em-layout>
  <ng-container slot="header">
    <div class="back-wrap" *ngIf="employee$ | async as employee">
      <a class="back" [routerLink]="['/employee', employee.id]">Вернуться</a>
    </div>
  </ng-container>
  <ng-container slot="content">
    <em-employee-form #employeeForm [item]="employee$ | async" (onChange)="onChange($event)"></em-employee-form>
  </ng-container>
</em-layout>
