
:host {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;

  background: #F4F6FC;
}

.header {
  padding: 50px 0;
}

.content {
  flex: 1 1 auto;
}

.container {
  max-width: 900px;
  padding: 0 20px;
  margin: 0 auto;
}
