<div class="header">
  <div class="container">
    <ng-content select="[slot=header]"></ng-content>
  </div>
</div>
<div class="content">
  <div class="container">
    <ng-content select="[slot=content]"></ng-content>
  </div>
</div>
