
:host {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 40px 50px;
  border-radius: 8px;
  box-shadow: 0 0 14px #ECEEF9;
  background-color: #FCFDFE;
  margin-bottom: 40px;
}

.avatar {
  width: 200px;
  height: 200px;
  border: 1px solid #C0C0C2;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;

  img {
    width: 100%;
    height: auto;
  }
}

.info {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.name {
  width: 100%;
  flex: 0 0 auto;
  font-size: 44px;
  line-height: 60px;
  color: #22246F;
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
  text-align: center;
  margin: 0;

  @media (max-width: 768px) {
    font-size: 28px;
  }
}

.fields {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
}

.field {
  width: 100%;
  flex: 1 1 auto;
  padding: 30px 10px 30px 0;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;

  @media (max-width: 768px) {
    padding: 20px 10px 20px 0;
  }
}

.field-label {
  color: #22246F;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  width: 220px;
  flex: 0 0 auto;

  @media (max-width: 768px) {
    font-size: 16px;
    line-height: 20px;
    width: 130px;
  }
}

.field-content {
  flex: 1 1 auto;
  color: #7576A5;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;

  @media (max-width: 768px) {
    font-size: 18px;
    line-height: 20px;
  }
}
