<div class="avatar">
  <img [src]="getAvatar()" alt="">
</div>
<div class="info">
  <h3 class="name">{{ item.name }} {{ item.lastName }}</h3>
  <div class="fields">
    <div class="field">
      <span class="field-label">
        Должность:
      </span>
      <span class="field-content">
        {{ item.position }}
      </span>
    </div>
    <div class="field">
      <span class="field-label">
        Телефон:
      </span>
      <span class="field-content">
        {{ item.phone }}
      </span>
    </div>
    <div class="field">
      <span class="field-label">
        Почта:
      </span>
      <span class="field-content">
        {{ item.email }}
      </span>
    </div>
    <div class="field">
      <span class="field-label">
        День рождения:
      </span>
      <span class="field-content">
        {{ item.birthday | date:'d MMMM y' }}
      </span>
    </div>
  </div>
</div>
