<em-layout>
  <ng-container slot="header">
    <div class="header-menu">
      <a class="action action--main" [routerLink]="['/employee-add']">Добавить пользователя</a>
      <a class="action" [routerLink]="['/settings']">Настройка уведомлений</a>
    </div>
  </ng-container>
  <ng-container slot="content">
    <em-employee-list *ngIf="(itemsList$ | async) as itemsList" [items]="itemsList"></em-employee-list>
  </ng-container>
</em-layout>
