<em-layout>
  <ng-container slot="header">
    <div class="back-wrap">
      <a class="back" [routerLink]="['/']">Вернуться</a>
    </div>
  </ng-container>
  <ng-container slot="content">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form">
        <div class="field">
          <label>
            За сколько дней поздравить. От 0 до 40 дней:
            <input type="text" name="beforeDays" formControlName="beforeDays">

          </label>
        </div>

        <div class="field">
          <label>
            В какое время высылать поздравления (UTC). От 0 до 23ч:
            <input type="text" name="sendTime" formControlName="sendTime">

          </label>
        </div>
      </div>

      <div class="actions">
        <button class="action action--main" type="submit" [disabled]="form.invalid">Сохранить</button>
        <button class="action" type="button" [disabled]="form.pristine" (click)="onCancel()">Отменить</button>
      </div>
    </form>
  </ng-container>
</em-layout>
